<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
  <%= link_to "Edit this teacher", edit_manager_teacher_path(@teacher) %> |
  <%= link_to "Back to teachers", manager_teachers_path %>
</div>
