<div class="modal-body">
  <div class="modal-body">
    <form id="updateForm" enctype="multipart/form-data">
      <ul class="errors"></ul>
      <div class="form-group">
        <label for="nameUp" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameUp">
      </div>
      <div class="form-group">
        <label for="teacherUp" class="form-label">Select Teacher</label>
        <select class="form-select" aria-label="Default select example" id="teacherUp">
        </select>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
    </div>
  </div>
</div>
