<div class="container">
  <h1>Student classes List</h1>
  <div class="row">
    <div class="col-2">
      <div id="modalCreateClass" class="modal hide fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create New Class</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <%= render 'manager/student_classes/partial/form',content_type: 'text/html', student_class: @student_class, teachers: @teachers %>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" id="btnShowCreateModal" >Create</button>
    </div>
    <div class="col-2">
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Filter
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Order by name DESC</a></li>
          <li><a class="dropdown-item" href="#">Order by name ASC </a></li>
        </ul>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col">ID </th>
      <th scope="col">Class Name</th>
      <th scope="col">Teacher Name</th>
      <th scope="col" colspan="4" class="text-center">Action</th>
    </tr>
    </thead>
    <tbody class="teacher-index" id="class-table">
    <%= render 'manager/student_classes/partial/table' %>
    </tbody>
  </table>
  <br>
  <div class="pagination justify-content-center">
  </div>
  <div id="modalUpdateClass" class="modal hide fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Teacher</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%#= render 'manager/student_classes/partial/form_edit', student_class: @student_class %>
      </div>
    </div>
  </div>
</div>
<div class="pagination justify-content-center">
  <%= paginate @student_classes %>
</div>
<script type="module">
  $('#btnShowCreateModal').on('click', () => {
      $('#modalCreateClass').modal('show');
  })

  $('.edit').on('click', () => {
      let classId = $(this).data('id');

      <%= render 'manager/student_classes/partial/form_edit', student_class: @student_class %>
      $('#modalUpdateClass').modal('show');
  })
</script>



